/* 
============ global ============
*/

* {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F7FAFC;
  line-height: 1.6;
}

header,
footer {
  background-color: #1A202C;
  background-color: #1A202C;
}

h2,
h3 {
  font-family: 'Ubuntu', sans-serif;;
  color: #143774;
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
 text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  font-family: serif;
}

h2 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
  color: #2D3748;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #2B6CB0;
}

img {
  border-radius: 1px;
}

svg {
  width: 4em;

}

.img-date {
  font-size: .75rem;
}

.strong-text {
  font-weight: bold;
}

.header-links,
.article-link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.in-text-link {
  color: #1792D2;
}

.in-text-link:hover,
.in-text-link:focus {
  text-decoration: underline;
}

.article-link {
  display: inline-block;
  margin: 1em 0;
  color: #1792D2;
}

.article-link:hover,
.article-link:focus {
  color: #1792D2;
  text-decoration: underline;
}

/* 
============ header ============
*/

.header-container {
  padding: 3em 0;
  text-align: center;
  max-width: 1000px;
  width: 98%;
  margin: 0 auto;
}

.header-title {
  font-size: 2rem;
  line-height: .8em;
  color: white;
}

.header-title-text {
  color: #CBD5E0;
  font-size: .75rem;
}

.header-link-container li {
  padding-top: 1.5em;
}

.header-links {
  color: #CBD5E0;
  font-size: 1rem;
}

.about-me:hover,
.about-me:focus,
.projects:hover,
.projects:focus {
  color: white;
}

.home {
  color: white;
  border-bottom: 2px solid white;
  cursor: default;
}

/* 
============ primary ============
*/

  /* -- main -- */

.primary-container {
  max-width: 1000px;
  width: 98%;
  margin: 2em auto;
}

.main-article {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #143774;
}

.main-article-img {
  width: 100%;
  order: -2;
}

.img-date {
  margin: .5em 0 0 0;
}

.img-date {
  order: -1;
}

.article-title {
  margin: 1em 0;
}

.article-text {
  padding-bottom: 1em;
}

.services-title {
  text-align: center;
  margin: 2em 0 1em 0;
  font-size: 1.5rem;
}

.recent-article {
  display: flex;
  flex-direction: column;
}

.svg-container {
  order: -1;
  padding: 1em;
  align-self: center;
}

  /* -- aside -- */

.widget-img {
  width: 100%;
  margin: .5em 0;
}

.widget-text {
  color: #143774;
}

.widget-title {
  text-align: center;
  margin: .5em 0;
  font-size: 1.5rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 1.4;
}

.widget-container-two {
  padding-bottom: 1em;
  border-bottom: 2px solid #143774;
  margin-bottom: 1em;
}

.side-bar-widget-container-two {
  margin-top: 2em;
}

.side-bar-widget {
  display: flex;
  flex-direction: column;
}

.recent-projects-widget-title {
  order: 1;
  margin-top: 1em;
}

/* 
============ footer ============
*/

.footer-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-link-container li {
  margin: 3em 2em;
}

.footer-links {
  color: #CBD5E0;
}

.footer-links:hover,
.footer-links:focus {
  color: white;
  cursor: pointer;
}

/* 
============ media queries ============
*/

@media (min-width: 814px) {

  /* -- header */

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-title-container {
    text-align: left;
  }

  .header-link-container {
    display: flex;
  }

  .header-link-container li {
    padding: 0 0 0 2.5em;
  }

    /* -- img container --*/

  .img-container {
    display: ;
    background-image: url(./img/background-photo.png);
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
  }
  
  .title {
    display: ;
    text-align: center;
    padding: 5em 0;
    color: rgba(255, 255, 255, 0.95);
    font-family: sans-serif;
    font-weight: 500;
  }

  /* -- primary -- */

  .primary-container {
    display: flex;
    justify-content: space-between;
  }

  .main-container {
    width: 70%;
  }

  .recent-article {
    flex-direction: row;
  }

  .svg-container {
    align-self: flex-start;
    padding: 1.5em 2em 0 0
  }

  .side-bar-container {
    width: 26%;
  }
  
  .side-bar-widget-container-one,
  .side-bar-widget-container-two {
    margin: 0;
    border-radius: 2px;
  }

  .side-bar-widget-container-two {
    margin-top: 2em;
  }

  .widget-title {
    text-align: left;
    margin: 0;
    font-size: 1rem;
    line-height: .6em;
    padding-bottom: .25em;
  }

  .widget-text {
    font-size: .9rem;
  }

  .recent-projects-widget-title {
    margin-top: -.25em;
  }

}

@media (max-width: 814px) {
    /* -- img container --*/

  .img-container {
    display: none;
  }
  
  .title {
    display: none;
  }
}
